/*

Author: Danilo Toro - Ignacio Damanes

Table OF Contents
------------------------------------
1 > GENERAL
------ Images
2 > HEADER
------ Buttons

3 > MENU
------ Buttons

*/

/*=========================================================
	01 -> GENERAL
===========================================================*/

/*----------------------------*\
	General
\*----------------------------*/
small{
    text-align: center;
}

canvas{
    cursor: url('../img/square.png'), auto;	
}



/*=========================================================
	02 -> HEADER
===========================================================*/

/*----------------------------*\
	Buttons
\*----------------------------*/

.nav-button{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px slategray solid;
}

.nav-button > a{
    padding: 5px 10px;

}

/*=========================================================
	03 -> MENU
===========================================================*/

/*----------------------------*\
	Buttons
\*----------------------------*/

.menu > div{
    min-height: 100px;
    border-right: 1px darkturquoise dotted;
    border-bottom: 2px gray solid;

}

.menu-button{
    /* padding: 5px 10px !important; */
    padding-left: auto;
    padding-right: auto;
    max-width: 50% !important;
    /* display: block !important; */
}

/*----------------------------*\
	icons
\*----------------------------*/


.main-icon img{
    max-width: 40px;
}

.icon{
    padding: 1px;
    cursor: pointer;
}

.icon img{
    max-width: 15px;
}

.size-color{
    color: blue;
    filter: opacity(50%);
}

/*----------------------------*\
	Colors
\*----------------------------*/
.bg-color{
    max-width: 20px !important;
    min-height: 20px !important;
}

#colorPallet{
    margin-right: -10px;
}

#bg-color-1{
    min-height: 40px;
    min-width: 30px;
}


#bg-color-2{
    min-height: 40px;
    min-width: 30px;
    border: 1px solid #000 ;
}