/*

Author: Danilo Toro - Ignacio Damanes

Table OF Contents
------------------------------------
1 > GENERAL
------
2 > HEADER
------ Buttons

3 > MENU
------ Buttons

*/

/*=========================================================
	01 -> GENERAL
===========================================================*/

/*----------------------------*\
	lorem
\*----------------------------*/




/*=========================================================
	02 -> HEADER
===========================================================*/

/*----------------------------*\
	Buttons
\*----------------------------*/

.nav-button{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px slategray solid;
}

.nav-button > a{
    padding: 5px 10px;

}

/*=========================================================
	03 -> MENU
===========================================================*/

/*----------------------------*\
	Buttons
\*----------------------------*/

.menu-button{
    /* padding: 5px 10px !important; */
    padding-left: auto;
    padding-right: auto;
    max-width: 50% !important;
    /* display: block !important; */
}


